* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    font-size: 24px;
    width: 2000px;
    height: 2000px;
    background-color: azure;
}

div{
    position: fixed;
    margin-left: 170px;
    margin-top: 30px;
    background-color: lightblue;
    padding: 30px;
}

button{
    padding: 13px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    box-shadow: 3px 3px black;
}

button:hover{
    cursor: pointer;
    background-color: rgb(77, 77, 252);
}