body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

#darkButton {
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 8px;
    border: 2px solid black;
    border-radius: 12px;
}

#darkButton:hover{
    scale: 1.05;
    background-color: rgb(47, 47, 238);
}

#lightButton {
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 8px;
    border: 2px solid black;
    border-radius: 12px;
}

#lightButton:hover{
    scale: 1.05;
    background-color: rgb(240, 240, 0);
}